@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background:linear-gradient(89deg,#FF5EDF,50%,#04C8DE 60%);
  }
  
.logo {

    height: 150;
    width: 150
}