$bg-img:"../images/map_loc.jpg";
$bg_color:rgba(255, 255, 255, 0.5);
$bg_shadow: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.75)
  );

$bg_light:#E2D6F8;
$bg_gray: #f5f6f8;
$pick_btn_color:#333333;
$whi_col:#ffffff;
$fot_color:rgba(255, 255, 255, 0.7);